/* Body styles */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    color: #808080;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Container styles */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 300px;
    padding: 20px;
    box-sizing: border-box;
}

/* Heading styles */
.container h1 {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
}

/* Illustration styles */
.illustration {
    max-width: 100%;
    height: 200px;
    margin: 15px 0;
}

/* Content area styles */
.content {
    width: 100%;
    max-width: 400px;
    margin-top: 15px;
}

/* Form group styles */
.form-group {
    margin-bottom: 15px;
    text-align: left;
    width: 100%;
}

/* Form control styles */
.form-control {
    width: 100%;
    padding: 10px;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Error message styles */
.error-message {
    font-size: 12px;
    color: red;
}

/* Submit button styles */
.submit-button {
    font-family: 'Open Sans', sans-serif;
    margin-top: 15px;
    background-color: #666;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    text-transform: none;
    width: 100%;
    max-width: 265px;
    height: 56px;
}

/* Hover state for Submit button */
.submit-button:hover {
    background-color: #555;
}

/* Media query for mobile devices */
@media (max-width: 800px) {
    .container {
        padding: 15px;
    }

    .container h1 {
        font-size: 22px;
    }

    .form-control {
        height: 45px;
        padding: 8px;
        font-size: 12px;
    }

    .submit-button {
        font-size: 18px;
        height: 48px;
        width: 265px;
    }
}