/* sidebar.css */

.sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Hidden by default */
    width: 250px;
    height: 100%;
    background-color: #f5f5f5;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;
    z-index: 1100; /* Increased z-index to overlay the header */
}

/* Open state for the sidebar */
.sidebar.open {
    left: 0;
}

/* Styles for the content inside the sidebar */
.sidebar-content {
    padding: 20px;
}

/* Styles for the sidebar heading */
.sidebar h1 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Styles for each item in the sidebar */
.sidebar-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
    font-size: medium;
    transition: background-color 0.3s ease;
}

.sidebar-item:hover {
    background-color: #e0e0e0;
}

/* Styles for the icon inside each sidebar item */
.sidebar-item i {
    margin-right: 10px;
    font-size: 20px; /* Increased icon size for better visibility */
}

/* Styles for the link inside each sidebar item */
.sidebar-item a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    width: 100%;
    padding: 10px 0;
}

/* Styles for horizontal rule (dividers) in the sidebar */
.sidebar hr {
    border: 0;
    height: 1px;
    background-color: #e0e0e0;
    margin: 15px 0;
}

/* Dark Mode Styles for Sidebar */
body.dark-mode .sidebar {
    background-color: #1f1f1f;
    color: #e0e0e0;
    border-right: 1px solid #333;
}

body.dark-mode .sidebar-header h3 {
    color: #e0e0e0;
}

body.dark-mode .sidebar-menu li a {
    color: #e0e0e0;
}

body.dark-mode .sidebar-menu li a:hover {
    color: #fff;
    background-color: #333333;
    padding-left: 10px;
    border-radius: 4px;
}

body.dark-mode .sidebar-menu li a i {
    color: #e0e0e0;
}
